<div>
  <form (submit)="login()" class="mb-5">
    <div class="form-group">
      <div class="row">
        <div class="col-sm">
          <label for="name">Username: </label>
          <p></p>
          <input type="text" class="mytext"  id="name" name="name" placeholder="Username" [(ngModel)]="username">
          <p></p>
          <label for="password">Password: </label>
          <p></p>
          <input type="password" class="mytext"  id="password" name="password" placeholder="Password" [(ngModel)]="password">
        </div>
      </div>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
