<div>
    <div class="h-200 d-flex align-items-center justify-content-center">
      <div class="form-outline mb-4">
        <h3 class="fw-normal">Uspešno ste popunili upisnicu! </h3>
      </div>
    </div>
  <div class="h-200 d-flex align-items-center justify-content-center">
    <div class="form-outline mb-4">
      <h5 class="fw-light">Ugovor za narednu akademsku godinu biće uskoro pripremljen.</h5>
    </div>
  </div>
  <div class="h-200 d-flex align-items-center justify-content-center">
    <div class="form-outline mb-4">
      <button type="submit" class="btn btn-secondary">Obavesti me putem mejla</button>
    </div>
  </div>
</div>
